body {
    background: #c7f7f3;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    color: black;
}

.navlist {
    list-style: none;
    display: flex;
    text-decoration: none;
}

.logo {
    size: 13rem;
}